/*.red {
  background-color: rgba(255,0,0,.6);
}
.blue {
  background-color: rgba(0,0,255,.6);
  margin: 5px;
}
.green {
  background-color: rgba(0,255,0,.6);
}
.yellow {
  background-color: hsla(56, 98%, 53%, 0.76);
}
.gray {
  background-color: gray;
}*/

body {
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
  font-size: 100%;
  color: rgba(1,1,1,.8);
  background: url('assets/hatter.jpg') no-repeat center center fixed;
  background-size: cover;
}
#vaszon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height:100vh;
  flex-direction: column;
  margin: auto
}

#oldalvalaszt {
  width: 120px;
  height: 90px;
  position: fixed;
  top: 50px;
  left: 20px;
  font-size: 120%;
}
.tartalom {
  width: 480px;
  max-width: calc(100vw - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#tartalom {
  width: 480px;
  max-width: calc(100vw - 20px);
}
#profilkep {
  width: 300px;
  height: auto;
  margin-bottom: 50px;
  margin-top: -20px;
  border-radius: 5%;
  padding: 1px;
  background-color: rgba(1,1,1,.9); 
}
#profilkep:hover {
  transform: scale(1.3);
  transition: all 1s ease-in-out;
}
#profil {
  text-align: center;
}
#nev {
  text-align: center;
  font-size: 200%;
  line-height: 1.5;
  padding-top: 20px;
  width: 400px;
  border-top: 1px solid rgba(1,1,1,.9);
}
#oldalvalaszt, .tartalom, #tartalom {
  background-color: rgba(240,210,112,.5);
  box-shadow: rgba(240,210,112,.8) 10px 10px 50px;
  border-radius: 5%;
}
.valaszt {
  color: rgba(1,1,1,.8);
}
h1 {
 font-size: 150%;
  text-transform: uppercase;
}
#komolykep {
  width: 150px;
  height: auto;
  border-radius: 5%;
  padding: 1px;
  background-color: rgba(1,1,1,.9);
  filter: grayscale(50%);
  float: left;
  margin-top: -40px;
  margin-left: -40px;
  margin-right: 15px
}
#komolykep:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  transition: all 1s ease-in-out;
}
#magamszoveg {
  font-size: 150%;
  text-align: justify;
  margin: 50px 15px 15px 15px;
}
#magamszoveg::first-letter {
  padding-left: 40px;
}
#utazas, #kutyak, #gastro {
  width: 320px;
  height: 300px;
  margin: 10px;  
}
#kepek {
  position: relative;
  height: 90vh;
}
#utazas {
  left: -50px;
  top: 10px;
  position: absolute;
}
#kutyak {
  right: -100px;
  top: 10px;
  position: absolute;
}
#gastro {
  bottom: -30px;
  right: 0 0;
  position: absolute;
}
.utazas, .kutya, .gastro {
  width: auto;
  height: 120px;
  float: left;
  margin: 5px;
  border-radius: 5%;
  padding: 1px;
  background-color: rgba(1,1,1,.9);
}
.utazas:hover {
  transform: scale(2.3);
  transition: all 1s ease-in-out;
}
.kutya:hover {
  transform: scale(2.3);
  transition: all 1s ease-in-out;
}
.gastro:hover {
  transform: scale(2.3);
  transition: all 1s ease-in-out;
}
legend {
  font-size: 150%;
  text-align: center;
}
.ikon {
  color: rgba(1,1,1,.8);
  margin: 5px;
}
.fa-5x:hover {
  transform: rotate(360deg) scale(1.4);
  transition: all 1s ease-in-out;
}
.kontakt {
  display: inline;
}
